.bookmarks-buttons-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 30px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.bookmarks-buttons-wrapper button {
    border: none;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
}

.active-bookmark {
    background-color: #20649D;
    color: white;
}

.non-active-bookmark {
    background: none;
}

.non-active-bookmark:hover {
    background-color: #20649D;
    color: white;
}

.selected-bookmark {
    background-color: #20649D;
    border-radius: 15px;
    color: white;
    padding: 30px;
}

.selected-bookmark h3 {
    margin: 0 0 20px;
}

@media (max-width: 768px) {
    .bookmarks-buttons-wrapper {
        display: grid;
        grid-template: 1fr 1fr / 150px 150px;
        justify-items: center;
        gap: 20px;
    }

    .bookmarks-buttons-wrapper button {
        width: 150px;
    }
}