.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-img {
    font-size: 150px;
    color: #22272F;
    margin-bottom: 20px;
}

.changing-text {
    color: #20649D;
    padding-bottom: 2px;
    border-bottom: 4px solid #20649D;
}

.hero-section h3 {
    margin: 10px 0 0;
    font-weight: 600;
}

@media (max-width: 768px) {
    .hero-img {
        font-size: 100px;
    }
}