.four-cards-grid {
    margin-top: 50px;
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    grid-gap: 40px;
    justify-items: center;
    align-items: flex-start;
    text-align: center;
}

@media (max-width: 768px) {
    .four-cards-grid {
        grid-template: 1fr 1fr / 1fr 1fr
    }
}

@media (max-width: 480px) {
    .four-cards-grid {
        grid-template: auto / 1fr;
    }
}